# Dependencies
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
.next
out
build
dist

# Development
.git
.gitignore
.env*.local
.vscode
.idea

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
*.log

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# CI/CD
.github
.gitlab-ci.yml

# Docs
README.md
docs

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

